.App {
  text-align: center;
  margin: 50px;
}

.quantity-input{
  width: 42px;
  height: 35px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 1px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  background: #fff;
  color: #8184a1;
}

.quantity-minus:link,
.quantity-plus:link {
  width: 42px;
  height: 29px;
  background: #fff;
  text-align: center;
  border-radius: 0 3px 3px 0;
  border-top: 2px solid #dee0ee;
  border-bottom: 1px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
}

.quantity-minus:visited,
.quantity-plus:visited {
  color: #8184a1;
}

.quantity-plus {
  width: 42px;
  height: 29px;
  background: #fff;
  text-align: center;
  border-radius: 0 3px 3px 0;
  border-top: 2px solid #dee0ee;
  border-bottom: 1px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  margin: 20px;
  padding: 7px;
}
.quantity-minus {
  width: 42px;
  height: 29px;
  background: #fff;
  text-align: center;
  border-radius: 0 3px 3px 0;
  border-top: 2px solid #dee0ee;
  border-bottom: 1px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  margin: 20px;
  padding: 8px;
}